version: '3.8'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    volumes:
      - ./:/app/config
    ports:
      - "8881:3000"
